@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=IBM+Plex+Mono:wght@100&display=swap');



.my_resume {
    text-align: center;
    font-size: 500%;
    font-family: 'Caveat', cursive;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    color: #DB7093;
}

.email {
    display: inline-block;
}


.box {
    display: inline-block;
    color: #DB7093;
}

.name {
    padding-right: 25%;
    padding-left: 35%;
    position: relative;
    font-family: 'IBM Plex Mono', monospace;
}
.name p {
    text-align: center;
}

hr {
	border: 0;
	border-top: 1px solid #DB7093;
}

.fas {
    color: #DB7093;
}

h2 {
    font-family: 'Caveat', cursive;
    color: #DB7093;
}



.languages {

    padding-right: 30%;
    padding-left: 31%;
    color: #DB7093;
    text-align: center;
}

.my_lang {
    text-align: center;
}

img {
    width: 30%;
    
}

.idioms, .skills {
    padding-right: 30%;
    padding-left: 31%;
}

.aligns {
    display: inline-block;
}
