@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=IBM+Plex+Mono:wght@100&display=swap');

header {
    background: url(../images/m3.jpeg);
    background-size: cover;
    padding: 20%;

}

header h1{
    font-family: 'Roboto Mono', monospace;    
    color: white;
    font-size: 250%;
    text-align: right;
    position: inherit;
    
}
#titulo_um{
    margin-top: 120px;
}

#titulo_dois:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    color: #DB7093;
    animation: pisca .7s infinite;
}

@keyframes pisca {
   0% {
       opacity: 1;
   }
   50% {
       opacity: 0;
   }
}

  #titulo_tres {
    font-family: 'Caveat', cursive;
    color: #fff;
    font-size: 150%;
}

.my_resume {
    text-align: center;
    font-size: 500%;
    font-family: 'Caveat', cursive;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    
}

.my_resume h2 {
    color: #DB7093;
    font-size: 80%;
    margin-top: 0;
}

.my_resume p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30%;
}


.icons_lang .fab {
    color: #fff;
    font-size: 100px;
}

.lang {
    display: inline-block;
    align-items: center;
    padding: 1%;
    font-family: 'IBM Plex Mono', monospace;
}

.icons_lang {
    text-align: center;
    background-color: #DB7093;
    padding: 17%;
}

.icons_lang p {
    color: #fff;
}

.icons_contact {
    display: inline-block;
    padding-right: 5%;
    align-items: center;
}

.cont_two {
    text-align: center;
    padding: 10%;
}

.cont_two h2, .fab, .fas{
    color: #DB7093;
    font-size: 100px;
    align-items: center;
}

.cachorras {
    width: 30%;
    display: inline-block;
    margin-left: 60%;
}

footer {
    background-color: #DB7093;
    color: #fff;
}

.imgseta {
    width: 15%;
    display: inline-block;
    margin-top: 1px;
}

#titulo_quatro {
    font-family: 'Caveat', cursive;
    color: #DB7093;
    font-size: 300%;
    margin-top: 15px;
    text-align: center;
}

#titulo_cinco {
    font-family: 'Caveat', cursive;
    color: #DB7093;
    font-size: 300%;
    margin-top: 0;
}

nav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.877);
    position: fixed;
    padding-top: 5px;
    top: 0;
    z-index: 2;
    width: 100%;
}

nav li, a {
    float: left;
    display: block;
    color: #DB7093 !important;
    text-align: center;
    text-decoration: none !important;
    font-family: 'Roboto Mono', monospace;    
    font-size: 20px;
    padding: 6px;

  }
