@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/*Menu*/

.diferent {
    float: left;
}


ul {
    overflow: hidden;
    background-color: #FFFF;
    position: fixed;
    padding-top: 5px;
    top: 0;
    z-index: 2;
    text-align: right;
    width: 100%;
}

ul li, a {
    font-family: 'Montserrat Alternates', sans-serif !important;
    font-size: 100%;
    text-decoration: none !important;
    display: inline-block;
    color: #727273 !important;
    padding: 1%;
}

/*header*/
header {
    background: url(../images/5.png);
    background-size: cover;
    padding: 20%;

}

@media(max-width: 700px) {
    section {
        margin-top: 10px;
    }
    header {
        display: none;
    }
}

header h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #404040;
}

header h1{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #95AFBF;
    font-size: 200%;
    text-align: left;
    
}


.align_items {
    width: 700px; 
    margin-left: 0;
    margin-top: 0%;
}

/*projects*/

section {
    max-width: 100%;
    column-count: 4;
    background-color: #F2F2F2;
    padding: 10%;
}

@media (max-width: 700px) {
    .titulo {
        font-size: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    section {
        column-count: 1;
    }
}

.box img {
    display: block;
    max-width: 100%;
}

.box {
    background: white;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(50,50,90,.1);
    overflow: hidden;
    break-inside: avoid-column;
    height: 300px;
}

.box p {
    padding: 10px;
    font-family: sans-serif;
    color: #6B7C93;
    font-size: .875em;
    line-height: 1.4em;
}

.box a {
    text-decoration: none;
    font-size: 100%;
}

.list {
    color: #FFFF;
    display: inline-block;
    font-size: 50px;
    padding: 5%;
    position: relative;
    text-align: center;
}

.no-ordem {
    text-align: center;
}
/*Quem sou eu*/
.how img {
    border-radius: 100%;
    width: 90%;
}

.how-i-am h1 {
    margin-bottom: 0%;
    margin-top: 0%;
}

.how-i-am p {
    display: block;
    margin-bottom: 0%;
    margin-top: 0%;
}

.how-i-am {
    width: 150%;
}

/* Forms*/

label, input, textarea {
    display: block;
    color: #727273;

}

input, textarea {

    width: 100%;
    margin-bottom: 1%;
}



#cont {
    background-color: #95AFBF;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 4px;
}

button {
    background-color: #95AFBF;
    width: 100%;
    border: none;
    color: #727273;
}